html {
  box-sizing: border-box;
}
* , *:before, *::after {
  box-sizing: inherit;
}
.login_signup_page {
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login_signup_page_main_container {
  padding: 2.5rem;
  width: 100%;
  max-width: 420px;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.signup_form_container, .login_form_container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.signup_form_elements, .login_form_elements {
  display: flex;
  align-items: center;
  margin: 1.3rem 0;
  gap: 1rem;
  margin-bottom: 1rem;
}
.signup_form_elements label, .login_form_elements label {
  font-size: 1.1rem;
  width: 25%;
  text-align: right;
}
.signup_form_elements input, .login_form_elements input  {
  background-color: rgb(219, 219, 219);
  flex: 1;
  width: 75%;
  padding: 0.4rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(219, 219, 219);
}
.signup_button, .login_button {
  background-color: rgb(64, 64, 255);
  color: white;
  font-size: 1.1rem;
  border-radius: 1rem;
  height: 2rem;
  width: 100%;
  margin: 1.3rem 0;
  border: none;
}
.switch_button {
  border: none;
  color: blue;
  font-size: 1.05rem;
}
