:root {
  --bg-color: white;
  --primary-color: linear-gradient(to bottom,#093028, #06b63e);
  --secondary-color: #f50057;    
  --text-color: #333; 
}

.main_container {
  height: 100%;
  width: 100%;
}

.navbar {
  display: flex;
  background: var(--primary-color);
  align-items: center;
  justify-content: center;
  height: 4rem;
}
.navbar_title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  width: 30%;
  height: 100%;
  background-color: var(--primary-color);
}
.navbar_title:hover{
  cursor: default;
}
.navbar_title a {
  text-decoration: none;
  color: white;
}
.navbar_buttons {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-around;
  background-color: var(--primary-color);
  height: 3.5rem;
  font-size: 1.3rem;
}
.navbar_buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  text-decoration: none;
  width: 19%;
  color: white;
  height: 100%;
  transition: all 0.3s ease;
}
.navbar_buttons a:hover {
  border-bottom: 0.4rem solid white;
  transform: scale(1.05);
}

/* <<<<<< Footer Styles >>>>> */

.footer {
  background-color: #111111;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer-links a,
.footer-socials a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.footer-links a:hover,
.footer-socials a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 10px;
  font-size: 0.9rem;
}

