html {
  box-sizing: border-box;
}
* , *:before, *::after {
  box-sizing: inherit;
}
* {
  /* outline: 1px solid rgba(18, 4, 222, 0.8); */
}
body {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(315deg, #f5f5f5 0%, #7fffd4 74%);
}
body {
  opacity: 0;
  animation: pageFade 1s ease forwards;
}
@keyframes pageFade {
  to {
    opacity: 1;
  }
}


