@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}
* , *:before, *::after {
  box-sizing: inherit;
}
* {
  /* outline: 1px solid rgba(0, 0, 0, 0.11); */
}
body {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right,#093028, #06b63e);
}
body {
  opacity: 0;
  animation: pageFade 1s ease forwards;
}
@keyframes pageFade {
  to {
    opacity: 1;
  }
}


